In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Load file
df_cholesterol = pd.read_csv('./datasets/cholesterol_dataset.csv')

In [10]:
# Check file
df_cholesterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   blood_type         996 non-null    object
 1   smoker             997 non-null    object
 2   activity_level     996 non-null    object
 3   age                997 non-null    float64
 4   weight             997 non-null    float64
 5   height             997 non-null    float64
 6   cholesterol_level  1000 non-null   float64
dtypes: float64(4), object(3)
memory usage: 54.8+ KB

In [6]:
# Remove Id column
df_cholesterol.drop(columns=['Id'], axis=1, inplace=True)

In [9]:
# Rename columns
df_cholesterol.columns = [
  "blood_type",
  "smoker",
  "activity_level",
  "age",
  "weight",
  "height",
  "cholesterol_level"
]

In [11]:
# Copy DF to EDA DF
df_cholesterol_eda =  df_cholesterol.copy()

In [12]:
# Copy DF to Bucketing DF
df_cholesterol_bucketing =  df_cholesterol.copy()

### EDA

In [13]:
# Visualize data
df_cholesterol_eda.head(10)

  blood_type smoker activity_level   age  weight  height  cholesterol_level
0          B    Yes            Low  33.0    85.1   186.0             199.63
1          A     No       Moderate  68.0   105.0   184.0             236.98
2          O     No           High  25.0    64.8   180.0             161.79
3          A     No           High  43.0   120.2   167.0             336.24
4         AB     No            Low  79.0    88.5   175.0             226.23
5          B     No            Low  68.0    66.8   170.0             185.31
6          A    Yes            Low  60.0   117.3   181.0             289.33
7          O    Yes       Moderate  35.0    86.9   174.0             216.48
8          O     No            Low  62.0    81.3   166.0             235.30
9          B    Yes           High  44.0    32.7   165.0              97.79

In [16]:
df_cholesterol_eda.activity_level.unique()

array(['Low', 'Moderate', 'High', nan], dtype=object)

In [26]:
df_cholesterol_eda.isna().sum()

blood_type           4
smoker               3
activity_level       4
age                  0
weight               0
height               0
cholesterol_level    0
dtype: int64

In [18]:
# Metrics of the DF
df_cholesterol_eda.describe()

              age      weight      height  cholesterol_level
count  997.000000  997.000000  997.000000        1000.000000
mean    49.206620   76.496690  174.889669         199.453260
std     17.476704   21.439132    8.844703          50.625152
min     20.000000   15.400000  160.000000          36.260000
25%     34.000000   61.700000  167.000000         166.345000
50%     49.000000   75.500000  175.000000         199.455000
75%     65.000000   90.200000  183.000000         233.785000
max     79.000000  158.100000  190.000000         372.670000

In [19]:
# Collect metrics from categorical variables
mode_blood_type = df_cholesterol_eda.blood_type.mode()
mode_smoker = df_cholesterol_eda.smoker.mode()
mode_activity_level = df_cholesterol_eda.activity_level.mode()

In [20]:
# Collect metrics from numeric variables
median_age = df_cholesterol_eda.age.median()
median_weight = df_cholesterol_eda.weight.median()
median_height = df_cholesterol_eda.height.median()

In [ ]:
# Input missing values
df_cholesterol_eda.fillna(value={'blood_type': mode_blood_type[0],
                                 'smoker': mode_smoker[0],
                                 'activity_level': mode_activity_level[0],
                                 'age': median_age,
                                 'weight': median_weight,
                                 'height': median_height,
                                 }, inplace=True)